/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: url(/images/back.jpg);
    -webkit-animation: scrolling 100s linear infinite;
    -moz-animation: scrolling 100s linear infinite;
    -o-animation: scrolling 100s linear infinite;
    animation: scrolling 100s linear infinite;
}

/* animations */
@-webkit-keyframes scrolling {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100vw 100vh;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 4em;
    padding: 0.5em;
}

figcaption {
    font-family: "Tsukimi Rounded", sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.2em;
    padding: 0.5em;
}

ul {
    list-style: none;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade-in{
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;

}
img{
    border-radius: .5em;
    border: black solid 1px;
}
.thumbs {
    filter: grayscale(1);
    width: 100%;
    height: auto;
}

/*GrayScale default img*/
li:first-child img {
    filter: grayscale(0);
}

/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns in the top row */
    grid-template-rows: auto auto;
    /* Two rows */
    gap: 1.5em;
    margin: 4em;
}
